{% comment %}
  Shopify Wishlist
  Usage:
    - Markup: {%- render 'button-wishlist', product: product -%}
    - Place this snippet inside your existing product card snippet
  Parameters:
    - product: <Shopify product> (required)
{% endcomment %}

{%- if product.handle != blank -%}
  <wishlist-item>
    <button
      wishlist-button
      class="cart--icon-button button--icon h6 mb-0 wishlist__button {{ className }}"
      type="button"
      aria-label="Add to wishlist"
      data-product-handle="{{ product.handle }}"
      data-product-title="{{ product.title }}"
    >
      <span title="Add To Wishlist" class="add__wishlist">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-heart"
        >
          <script xmlns=""/>
          <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/>
        </svg>
      </span>
      <span class="loading__wishlist"></span>
      <span title="Remove from Wishlist" class="remove__wishlist remove__action__btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-heart"
        >
          <script xmlns=""/>
          <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/>
        </svg>
      </span>
    </button>
  </wishlist-item>
{%- endif -%}
