<div class="mega__menu--promo">
  {%
    render 'product-card-item',
    product_card_product: product,
    media_size: block.settings.image_ratio_product,
    show_title: true,
    show_price: true,
  %}
</div>
