.image-with-text__media--placeholder.placeholder {
  height: 35rem;
}

.image-with-text__media {
  min-height: 100%;
  position: relative;
}
.image-with-text__content .stamp--shadow {
  filter: drop-shadow(0px 0px 21px rgba(0, 0, 0, 0.08));
}
.image-with-text__content .stamp--left {
  margin-left: 0rem;
}
.image-with-text__content .stamp--right {
  margin-right: 0rem;
}
@media only screen and (min-width: 990px) {
  .image-with-text__grid.desktop-row-reverse:not(
      .lookbook__media--fullwidth--reverse
    ) {
    flex-direction: row-reverse;
  }
  .image-with-text__grid.desktop-row-reverse.lookbook__media--fullwidth--reverse {
    flex-direction: column-reverse;
  }
  .image-with-text__content .stamp--left {
    margin-left: 10rem;
  }
  .image-with-text__content .stamp--right {
    margin-right: 10rem;
  }
}
.image-with-text__media {
  min-height: 100%;
}

.image-with-text__media--small {
  height: 19.4rem;
}

.image-with-text__media--large {
  height: 43.5rem;
}

.image-with-text__media--medium {
  height: 30rem;
}
.image-with-text__content > * + * {
  margin-top: 2rem;
}
.image-with-text__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-self: center;
  padding: 3rem 0 0;
  position: relative;
}
@media screen and (min-width: 767px) {
  .image-with-text__content{
    padding: 3rem 3rem 1.5rem;
  }
  .image-with-text__media--small {
    height: 31.4rem;
  }
  .image-with-text__media--medium {
    height: 50rem;
  }
  .image-with-text__media--large {
    height: 69.5rem;
  }
  .image-with-text__media--placeholder.placeholder {
    height: 45rem;
  }
}


@media only screen and (max-width: 767px) {
  .image-with-text__content.mobile__text-center {
    text-align: center;
    align-items: center;
  }
  .image-with-text__content.mobile__text-left {
    text-align: left;
    align-items: flex-start;
  }
  .image-with-text__content.mobile__text-right {
    text-align: right;
    align-items: flex-end;
  }
}
/* .image-with-text__content {
  padding-top: 0;
  padding-bottom: 0;
} */
.image-with-text__subtitle {
  font-weight: 500;
  margin-bottom: 0px;
}
.image-with-text__text-item.full_widt_content {
  margin-top: -100px;
}

@media screen and (max-width: 991px){
  .stamp_image.stamp--shadow img{
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 640px){
  .stamp_image.stamp--shadow img{
    width: 80px;
    height: 80px;
  }
}
