.search__input.field__input {
  padding-right: 5rem;
}
.search__button .icon {
    height: 25px;
    width: 25px;
}
/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
  	appearance: none;
}
