/* Dynamic checkout */
.shopify-payment-button__button {
  border-radius: 0;
  font-family: inherit;
  color: rgb(var(--button-outline-label));
  background: rgb(var(--button-outline));
}

.shopify-payment-button__button [role="button"].focused,
.no-js .shopify-payment-button__button [role="button"]:focus {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5) !important;
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 0.1rem
      rgba(var(--button-outline), var(--alpha-button-border)),
    0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3) !important;
}

.shopify-payment-button__button [role="button"]:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none !important;
}

.shopify-payment-button__button [role="button"]:focus-visible {
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5) !important;
  box-shadow: 0 0 0 0.1rem
      rgba(var(--button-outline), var(--alpha-button-border)),
    0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3) !important;
}

.shopify-payment-button__button--unbranded {
  background-color: rgb(var(--solid-button-background));
  border: 1px solid rgb(var(--solid-button-background));
  box-shadow: 0 0 0 0.1rem
    rgba(var(--button-outline), var(--alpha-button-border));
  color: rgb(var(--solid-button-foreground));
  font-size: calc(var(--button-font-size) * 1.6rem);
  line-height: 1;
  letter-spacing: var(--button-letter-spacing);
  border-radius: var(--button-border-radius);
  text-transform: var(--button-text-case);
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopify-payment-button__button--unbranded:hover,
.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  border: 1px solid rgb(var(--hover-button-background));
  color: rgb(var(--hover-button-label));
  background: rgb(var(--hover-button-background));
  box-shadow: 0 0 15px -8px rgba(0, 0, 0, 0.5);
}

.shopify-payment-button__more-options {
  margin: 1.6rem 0 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.shopify-payment-button__button--hidden {
  display: none;
}
