.featured__product--grid{
    display: flex;
    flex-wrap: wrap;
}
.featured__product--grid.isolate {
    padding: 1.5rem;
}

@media only screen and (min-width: 1200px){
  .isolate .product__info-container {
      padding: 3rem 8.5rem 4.5rem 5rem;
  }
}
.featured__product--grid.rounded--image {
    border-radius: 3.5rem;
}
.featured__product--grid.isolate {
    padding: 1.5rem;
    box-shadow: 0 1.5rem 7rem -2.5rem rgba(var(--color-foreground), 0.15);
}
@media only screen and (min-width: 992px){
  .featured__product--grid.isolate {
      padding: 3rem;
  }
}