/* Footer Widget */
.footer__widget {
  display: flex;
  flex-direction: column;
  transition: var(--transition);
}
.footer__widget_title {
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
  padding-right: 20px;
  margin-top: 0;
  font-weight: 400;
  font-size: 2.4rem;
  color: rgb(var(--color-foreground));
}
.footer__widget_title:before,
.footer__widget_title:after {
  position: absolute;
  top: 14px;
  right: 0;
  width: 16px;
  height: 2px;
  content: "";
  transition: var(--transition);
  opacity: 0;
  background-color: rgba(var(--color-foreground));
}
.footer__widget_title::after {
  transform: rotate(90deg);
}
.footer__widget_toggle {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  content: "";
  color: transparent;
  border: 0;
  background-color: transparent;
}
.footer__widget_inner p {
  margin-bottom: 0;
}
.footer__widget_inner p a {
  font-weight: 700;
}
.footer__widget_inner p a:hover {
  text-decoration: underline;
}
.footer__widget_inner p:not(:last-child) {
  margin-bottom: 24px;
}
.footer__widget_inner ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__widget_inner ul .footer__list--item + .footer__list--item {
  margin-top: 1rem;
}
.footer__widget_inner ul li a {
  display: block;
  text-decoration: none;
}
/* Footer Bottom */
.footer__bottom {
  padding: 25px 0;
  border-top: 1px solid rgb(var(--border-color));
}
/* Copyright */
.footer__copyright {
  line-height: 1;
  display: block;
  text-align: center;
}

/* Payment Image */
.footer__payment_image {
  display: block;
  margin: auto;
}
.footer__list-social a svg {
  height: 20px;
}
.list-social__link {
  line-height: 1;
}
.footer__list-social .list-social__link + .list-social__link {
  margin-left: 15px;
}
.contact__info_box address a {
  color: rgba(var(--color-foreground));
  font-weight: 700;
  text-decoration: underline;
}
.footer-block-image > img {
  height: auto;
}
.newsletter-form__field-wrapper .input__field_form_button svg.icon {
  height: 15px;
  color: rgb(var(--color-foreground));
}

@media only screen and (max-width: 767px) {
  .footer__widget {
    margin-bottom: -22px;
  }
  .footer__widget.active {
    padding-bottom: 22px;
  }
  .footer__widget.active .footer__widget_title::after {
    transform: rotate(0deg);
  }
  .footer--grid > .col {
    width: 100%;
    flex-basis: 100%;
  }
  .footer--grid {
    gap: 25px;
  }
  .footer__widget_inner {
    display: none;
  }
  .footer__widget_toggle {
    visibility: visible;
  }
  .footer__widget_title::before,
  .footer__widget_title::after {
    opacity: 1;
  }
}
.contact__info_box + div {
  margin-top: 1.5rem;
}
@media only screen and (min-width: 992px) {
  .footer--grid.footer__block--width > .col {
    max-width: 20%;
    flex-basis: 20%;
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .col.about__us--widget {
    min-width: 35rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .col.about__us--widget {
    min-width: 30rem;
  }
}
.gap-20 {
  gap: 20px;
}
.footer__widget_inner .newsletter-form__field-wrapper input[type="email"] {
  padding-right: 3.5rem;
}
@media only screen and (max-width: 767px) {
  .footer__bottom .row {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .footer__bottom .list-payment {
    justify-content: center;
  }
  .footer__bottom localization-form + localization-form .dropdown__open_list {
    left: -30%;
  }
  .footer__bottom .localization__store.d-flex {
    justify-content: center;
  }
  .footer__bottom .localization__store.d-flex {
    gap: 1.5rem;
    margin-bottom: 0.5em;
  }
}
.footer {
  background: rgb(var(--color-background));
}
.footer-block__details-content {
  position: relative;
}
.contact__info_box {
  display: flex;
  flex-direction: column;
}
.contact__info_box .contact__info_description {
  font-style: normal;
  color: rgba(var(--color-foreground), 0.7);
}
.contact__info_box .contact__info_title {
  font-weight: 500;
  color: rgb(var(--color-foreground));
}
.contact__info_box .contact__info_text {
  font-weight: 400;
  font-size: 20px;
  color: rgba(var(--color-foreground), 0.7);
}
.footer__widget .input__field {
  border: 0px;
  border-radius: 0px;
  background: white;
  border-radius: 5px;
  border: 1px solid rgb(var(--border-color));
}
.footer__widget .contact__info_description{
  font-size: 20px;
}