.slideshow__text .banner__text {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.9;
}
/* @media screen and (max-width: 750px){
  .slideshow__text .banner__text {
    font-size: 18px;
  }
} */
@media screen and (max-width: 750px) {
  .slideshow__text .banner__text {
    font-size: 17px;
  }
  .slideshow__banner--media--large {
    min-height: 39rem;
  }
  .slideshow__banner--media--medium {
    min-height: 34rem;
  }
  .slideshow__banner--media--small {
    min-height: 28rem;
  }
  .slideshow__media.placeholder {
    height: 28rem;
    position: relative;
  }
}
@media screen and (min-width: 750px) and (max-width: 991px) {
  .slideshow__banner--media--large {
    min-height: 65rem;
  }
  .slideshow__banner--media--medium {
    min-height: 55rem;
  }
  .slideshow__banner--media--small {
    min-height: 45rem;
  }
}
@media screen and (min-width: 992px) {
  .slideshow__banner--media--large {
    min-height: 89rem;
  }
  .slideshow__banner--media--medium {
    min-height: 65rem;
  }
  .slideshow__banner--media--small {
    min-height: 50rem;
  }
}
.slideshow__media:after {
  content: "";
  position: absolute;
  top: 0;
  background: #000000;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.slideshow--nav-button::after {
  font-size: 1.4rem;
}
.placeholder.slideshow__banner--media--adapt_image {
  height: 56rem;
}
.slideshow--bullet-button.pagination--dots .swiper-pagination-bullet {
  background: transparent;
  width: 1.2rem;
  height: 1.2rem;
  opacity: 1;
  text-indent: -9999px;
}
.slideshow--bullet-button.pagination--numbers .swiper-pagination-bullet {
  background: none;
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
  line-height: 2rem;
  font-size: 2rem;
  border: none;
}
.slideshow--bullet-button.pagination--numbers
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  text-decoration: underline;
  text-underline-offset: 0.35rem;
  opacity: 1;
}
.swiper-pagination-bullet {
  transition: var(--transition);
}
.slideshow--bullet-button.pagination--counter {
  font-size: 2rem;
}

.slideshow--slider.slider--controls--button .slideshow--nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.swiper-button-next.slideshow--nav-button {
  left: auto;
  right: 1rem;
}

.swiper-button-prev.slideshow--nav-button {
  left: 1rem;
  right: auto;
}
@media only screen and (min-width: 750px) {
  .slideshow--bullet-button.pagination--counter.dark,
  .slideshow--bullet-button.pagination--numbers.dark .swiper-pagination-bullet {
    color: #131313;
  }
  .slideshow--bullet-button.pagination--counter.light,
  .slideshow--bullet-button.pagination--numbers.light
    .swiper-pagination-bullet {
    color: #fff;
  }
  .slideshow--bullet-button.light.pagination--dots .swiper-pagination-bullet {
    border: 1px solid rgba(255, 255, 255, 0.9);
  }

  .slideshow--bullet-button.light.pagination--dots
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, 0.9);
  }
  .slideshow--bullet-button.dark.pagination--dots .swiper-pagination-bullet {
    border: 1px solid rgba(0, 0, 0, 0.9);
  }
  .slideshow--bullet-button.dark.pagination--dots
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 0.9);
  }
  .slideshow--nav-button.dark {
    background: rgb(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
  }
  .slideshow--nav-button.light {
    background: rgba(255, 255, 255, 0.9);
    color: rgb(0, 0, 0, 0.9);
  }
  .slideshow--slider.slider--controls--button .slideshow--nav-button {
    top: 50%;
    transform: translateY(-50%);
  }

  .slideshow--slider.slider--controls--bullet {
    position: absolute;
    bottom: 3rem;
    z-index: 10;
    left: 0;
    right: 0;
  }
  .swiper-button-next.slideshow--nav-button {
    right: 2rem;
  }

  .swiper-button-prev.slideshow--nav-button {
    left: 2rem;
  }
}

@media only screen and (max-width: 749px) {
  .slideshow--bullet-button.pagination--counter.mobile__dark,
  .slideshow--bullet-button.pagination--numbers.mobile__dark
    .swiper-pagination-bullet {
    color: #131313;
  }
  .slideshow--bullet-button.pagination--counter.mobile__light,
  .slideshow--bullet-button.pagination--numbers.mobile__light
    .swiper-pagination-bullet {
    color: #fff;
  }
  .slideshow--bullet-button.mobile__light.pagination--dots
    .swiper-pagination-bullet {
    border: 1px solid rgba(255, 255, 255, 1);
  }

  .slideshow--bullet-button.mobile__light.pagination--dots
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, 1);
  }
  .slideshow--bullet-button.mobile__dark.pagination--dots
    .swiper-pagination-bullet {
    border: 1px solid rgba(0, 0, 0, 1);
  }
  .slideshow--bullet-button.mobile__dark.pagination--dots
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 1);
  }
  .slideshow--nav-button.mobile__dark {
    background: rgb(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
  }
  .slideshow--nav-button.mobile__light {
    background: rgba(255, 255, 255, 1);
    color: rgb(0, 0, 0, 1);
  }
}
/* Slider content css */
.slideshow__text > * + * {
  margin-top: 1.5rem;
}

@media only screen and (min-width: 750px) {
  .slideshow__text-wrapper {
    margin: 0 auto;
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
    right: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .slideshow__text {
    position: relative;
    z-index: 9;
  }
  .top--position .slideshow__text {
    top: 5rem;
  }
  .bottom--position .slideshow__text {
    bottom: 5rem;
  }
  .slideshow--bullet-button.pagination--dots {
    bottom: 0;
  }
  .slider--alignment__desktop--center {
    text-align: center;
  }
  .slider--alignment__desktop--left {
    text-align: left;
  }
  .slider--alignment__desktop--right {
    text-align: right;
  }
}
.slideshow__text-wrapper {
  max-width: calc(var(--container-lg-width) - 3rem);
  width: 100%;
}
@media only screen and (max-width: 749px) {
  .slideshow__text.banner__box {
    padding: 3.5rem 3rem 2rem;
  }
  .slideshow--nav-button {
    top: unset;
    bottom: 1.2rem;
    z-index: 99;
  }
  .slideshow--nav-button:after {
    font-size: 1.4rem;
  }
  .slideshow--bullet-button.pagination--dots {
    bottom: 0;
  }
  .slider--alignment__mobile--center {
    text-align: center;
  }
  .slider--alignment__mobile--left {
    text-align: left;
  }
  .slider--alignment__mobile--right {
    text-align: right;
  }
}
.slideshow--slider.slider--controls--button > .slideshow--nav-button {
  /* color: rgb(var(--color-foreground));
  background: rgb(var(--color-background)); */
  margin: 0;
}
.slideshow--slider.slider--controls--button > .slideshow--nav-button:hover {
  /* color: rgb(var(--color-foreground));
  background: rgb(var(--color-background)); */
}
.slideshow--slider.slider--controls--button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow--slider .slideshow--bullet-button {
  position: unset;
  width: unset;
  left: auto;
  line-height: 0;
}
.slide__placeholder {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -50%);
  width: 100%;
  fill: currentColor;
}
@media only screen and (min-width: 1200px) {
  .slideshow__text .h0 {
    font-size: 9.6rem;
    line-height: 1;
  }
  .slideshow__text .h1 {
    font-size: 7rem;
    line-height: 1;
  }
  .slideshow__text .h2 {
    font-size: 5rem;
    line-height: 1;
  }
  .slide__placeholder {
    transform: translate(-30%, -50%);
  }
}
@media only screen and (max-width: 749px) {
  .slide__placeholder {
    transform: translate(-50%, -50%);
  }
  .slider-mobile--media.placeholder {
    height: auto;
    background: transparent;
  }

  .slider-mobile--media {
    position: relative;
    overflow: hidden;
    display: block;
  }
  .slider-mobile--media > * {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center center;
    transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .slideshow__mobile--media--large {
    min-height: 39rem;
  }
  .slideshow__mobile--media--medium {
    min-height: 34rem;
  }
  .slideshow__mobile--media--small {
    min-height: 28rem;
  }
  .slideshow__text-wrapper.show_content--on-image {
    margin: 0 auto;
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
    right: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .slideshow--slider.slider--controls--button.slideshow--mobile-navs-hide,
  .slideshow--mobile-dots-hide {
    display: none;
  }
  .slideshow--slider.slider--controls--bullet {
    margin-top: 15px;
  }
  .container .right--position .slideshow__text {
    right: 10rem;
  }
  .container .left--position .slideshow__text {
    left: 10rem;
  }
}
.banner__heading {
  color: rgb(var(--color-foreground));
}
.banner__text {
  color: rgb(var(--color-foreground));
}
.show_content--on-image .banner__heading {
  color: rgb(var(--color-foreground));
}
.show_content--on-image .banner__text {
  color: rgb(var(--color-foreground));
}
.slideshow--banner-button {
  margin-top: 3rem;
}
.slideshow--slider.slider--controls--button {
  margin: 0;
}

.container .right--position .slideshow__text {
  right: 5rem;
}
.container .left--position .slideshow__text {
  left: 5rem;
}
