.testimonial__section--area {
  background: rgb(var(--color-background));
}
.testimonial__card {
  padding: 3.5rem;
  background: rgb(var(--color-background));
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.testimonial__card--body {
}
.testimonial__card--header .card__title {
  margin-bottom: 0px;
  font-size: calc(var(--font-heading-size) * 1.8rem);
}
.testimonial__card--text{
  font-weight: 400;
  font-size: calc(var(--font-heading-size) * 2rem);
  color: rgba(var(--color-foreground), 0.9);
}
.testimonial__slider--inner {
    padding: 5rem 10px;
    margin: 0px 0px;
}
@media (max-width: 750px) {
  .testimonial__slider--inner {
    padding: 3rem 0;
  }
}
.testimonial__author--placeholder {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: relative;
}
.testimonial__card--foter-content {
  flex-grow: 1;
}
.testimonial__card--foter-content.testimonial__space {
  padding-left: 1.5rem;
}
.testimonial__author--name {
  margin-bottom: 0.2rem;
  font-size: 20px;
  font-weight: 500;
}
span.testimonial__author--title {
  color: rgba(var(--color-foreground), 0.67);
  font-weight: 400;
  font-size: 1.6rem;
}
.testimonial__card--review {
  margin: 0.5rem 0 1.5rem;
}
.testimonial__author--media > * {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 50%;
  left: 0;
}
.testimonial__author--media {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.testimonial__card--footer-inner {
  padding-left: 0.3rem;
  align-items: center;
}
.testimonial--list-slider {
  position: relative;
}
.testimonial--slider.slider--navgaition-button-absolute {
  margin-top: 0;
}
.testimonial__card--header + .testimonial__card--footer {
  padding-top: 2.5rem;
}
